.order-card{
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-bottom: 1rem;
}
.order-card h2 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: #343a40;
}
.order-card h3 {
    font-size: 1rem;
    color: #495057;
    margin-bottom: 0.5rem;
}

.order-card p {
    font-size: 1rem;
    color: #6c757d;
}

.order-card ul {
    list-style-type: none;
    padding: 0;
    margin: 0.5rem 0;
}
.order-card ul li {
    padding: 0.25rem 0;
    border-bottom: 1px solid #dee2e6;
}